@model SkynetzMVC.Controllers.DTO.ResultDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

@section Scripts{
    <script type="text/javascript">
        $(document).on('click', "#btnPriceCalculation", function () {
            // pegando os dados
            var idTariff = $("#idTariff").val();
            var usedMinutes = $("#usedMinutes").val();
            var usedPlan = $("#usedPlan").val();

            var data = { idTariff: idTariff, usedMinutes: usedMinutes, usedPlan: usedPlan }

            $.post("Controllers\HomeController\PriceCalculation", data, 
                function (return) {
                    console.log(return)
                }
            )
        }

    </script>
}

    <div class="text-center">
        <h1 class="display-4">Skynetz</h1>
        <p>Consulte os gastos das suas chamadas telefonicas e veja quanto você pode economiza com nossos planos.</p>
    </div>

    <form asp-action="PriceCalculation">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="Source">Origem e Destino:</label>
                <select asp-for="Source" asp-items="@ViewBag.TariffItems" class="form-control" name="idTariff" id="idTariff">
                    <option value=null>Selecione...</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="UsedMinutes">Minutos Usados:</label>
                <input asp-for="UsedMinutes" class="form-control" type="number" id="usedMinutes" />
            </div>
            <div class="form-group col-md-3">
                <label asp-for="UsedPlan">Plano:</label>
                <select asp-for="UsedPlan" asp-items="@ViewBag.PlanItems" class="form-control" name="usedPlan" id="usedPlan">
                    <option value=null>Selecione...</option>
                </select>
            </div>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Calcular" id="btnPriceCalculation" />
        </div>
    </form>

    <div style="margin-top: 2em">
        <table class="table">
            <thead>
                <tr class="text-left">
                    <th scope="col">Origem</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Minutos Usados</th>
                    <th scope="col">Plano</th>
                    <th scope="col">Preço com FaleMais</th>
                    <th scope="col">Preço sem FaleMais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model=>model.Source)</td>
                    <td>@Html.DisplayFor(model=>model.Destination)</td>
                    <td>@Html.DisplayFor(model=>model.UsedMinutes)</td>
                    <td>@Html.DisplayFor(model=>model.UsedPlan)</td>
                    <td>@Html.DisplayFor(model=>model.PriceWithPlan)</td>
                    <td>@Html.DisplayFor(model=>model.PriceWithoutPlan)</td>
                </tr>
            </tbody>
        </table>
    </div>
